.bt-name{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
}
.op-name{
   
    display: flex;
    flex-direction:row ;
}
.all-css{
    background-color: black;
    display:flex;
    flex-direction: column;
    width:300px;
}

